<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="opt_Weld_identification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <opt_Weld_identification.Properties.Settings>
            <setting name="Camera_port_" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Image_save_" serializeAs="String">
                <value>D:\Image</value>
            </setting>
            <setting name="user_save_read_" serializeAs="String">
                <value>default_setting.config</value>
            </setting>
            <setting name="PortNumber_" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate_" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="PLC_CpuType_" serializeAs="String">
                <value>FX3U</value>
            </setting>
        </opt_Weld_identification.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
